		html,body{
    		height: 100%; 
    		width:100%;
    		padding: 0px;
    		margin: 0px;
    		background-color: #000000;
    		overflow:auto;
    	}
    	span{
    		cursor:pointer;
    	}
    	/*默认滚动条样式*/
		::-webkit-scrollbar {
		    width: 8px;
		    height: 8px;
		}
		::-webkit-scrollbar-track {
		    border: 1px #d3d3d3 solid;
		    box-shadow: 0px 0px 3px #dfdfdf inset;
		    border-radius: 10px;
		    background: #eee;
		}
		::-webkit-scrollbar-thumb {
		    border: 1px #808080 solid;
		    border-radius: 10px;
		    background: #999;
		}
		::-webkit-scrollbar-thumb:hover {
		    background: #7d7d7d;
		}
		/* 圆角尖角聊天框样式*/
    	.bubbleDiv{  
		    width: 100%;
		    height: auto;
		    margin: 0px;
		    padding: 0px;
		}  
		.bubbleItem{  
		    width: 100%;  
		    list-style:none;
		    margin: 0px;
		    padding: 5px;
		}  
		.bubble{  
		    position: relative;  
		    line-height: 30px;  
		    border-radius: 7px;  
		    display: inline-block;  
		    padding-left: 10px;
		    padding-right: 10px;
		}  
		.leftBubble{  
		    position: relative;  
		    margin-left: 15px;  
		    border: 1px solid #00b6b6;  
		    background-color: #f8fdfc;  
		}  
		.leftBubble .bottomLevel{  
		    position: absolute;  
		    top: 10px;  
		    left: -10px;  
		    border-top: 10px solid #00b6b6;  
		    border-left: 10px solid transparent;  
		}  
		.leftBubble .topLevel{  
		    position: absolute;  
		    top: 11px;  
		    left: -8px;  
		    border-top: 10px solid #f8fdfc;  
		    border-left: 10px solid transparent;  
		    z-index: 100;  
		}
		.rightBubble{  
		    position: relative;  
		    margin-right: 25px;
		    border: 1px solid #00b6b6;  
		    background-color: #f8fdfc;  
		}  
		.rightBubble .bottomLevel{  
		    position: absolute;  
		    top: 10px;  
		    right: -10px;  
		    border-top: 10px solid #00b6b6;  
		    border-right: 10px solid transparent;  
		}  
		.rightBubble .topLevel{  
		    position: absolute;  
		    top: 11px;  
		    right: -8px;  
		    border-top: 10px solid #f8fdfc;  
		    border-right: 10px solid transparent;  
		    z-index: 100;  
		}
		.clearfix:after {  
		    visibility: hidden;  
		    display: block;  
		    font-size: 0;  
		    content: " ";  
		    clear: both;  
		    height: 0;  
		}